.container{
  width: 100%;
}

.container--flex{
  @extend .container;
  display: flex;
}


@mixin buttonContent(){
  background-color: $buttonsColor;
  color:$fontWhite;
}

$sectionborder: 1px dashed $tableColor;

