@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


$logoFont: "Charmonman", sans-serif;

$textFont: "Open Sans", sans-serif;

$generalFontSize: 14px;

