 header{
    background-color: #292F32;
    clear: both;
    display: block;
    content: "";
    width: 100%;
    padding: 10px 0;
    height: 150px;
    div.logo{
      font-size: 20px;
      float: left;
      h1{
        font-family: $logoFont;
        #first{
          font-weight:100;
          color: white;
        }
        #second{
          color:#E58A20;
          font-weight: 700;
        }
      }
    }
  }

header {
  nav.menu {
    float: right;
    width: 70%;
    font-family: $textFont;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-weight: bold;
      li{
        &:first-child{
          color: #E58A20;
        }
      }
    }
  }
}