@import "../settings/colors";
.navigation__panel{
  background-color: $navigationColor;
  width: 30%;
  height: 100%;
  ul{
    li{
      color: $buttonsColor;
      border-left: $buttonsColor solid 5px;
    }
  }
}